

header{

    width: 100%;
    height: 100px;
    background-color: darkgray;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{

    width: 100px;
    height: 100px;
}
nav{
display: flex;
gap: 5px;

}
button-wrapper{
    display: flex;
    gap: 10px;
}

